@import "variables";

.content {

  @media (min-width: $tablet-width) {
    width: $tablet-content-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 303px 400px;
    grid-template-rows: 186px 120px;
    gap: 34px 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content-width;
    grid-template-columns: 378px 939px;
    grid-template-rows: 249px 96px;
  }

  &--outer {
    @media (min-width: $tablet-width) {
      margin-bottom: 217px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 132px;
    }
  }

  &__image {
    margin-bottom: 40px;
    width: 320px;
    height: 245px;

    @media (min-width: $tablet-width) {
      width: 483px;
      height: 365px;
      grid-column-start: 2;
      margin-top: -30px;
      margin-left: -52px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      align-self: end;
      grid-row-end: 3;
      width: 939px;
      height: 464px;
      margin-top: -70px;
      margin-left: 0;
      z-index: -1;
    }
  }

  &__title {
    margin: 0 0 23px;

    font-family: "Din Black", sans-serif;
    font-size: 44px;
    line-height: 57px;

    text-transform: uppercase;
    text-align: center;
    color: $text-color;

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-row-start: 1;
      margin: 0;
      font-size: 48px;
      line-height: 62px;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      font-size: 64px;
      line-height: 83px;
    }
  }

  &__text {
    width: $mobile-content-width;
    margin: 0 auto 187px;

    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: $text-color;

    @media (min-width: $tablet-width) {
      grid-row-start: 2;
      width: 250px;
      margin: 0 0 0 5px;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      width: 276px;
    }
  }
}
