@import "variables";

.container {
  width: $mobile-content-width;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
